@page
@model AG.Web.Pages.Establishment.EditDepartmentModel
@using Services.Domains
@{
    ViewData["Title"] = "Редактирование подразделения";
}

<h1 class="display-4">@ViewData["Title"]</h1>
<h3 class="display-7">"@Model.DepartmentName"</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CurrentDepartment.Id" />
            <p class="form-group">
                <label asp-for="CurrentDepartment.Name" class="control-label"></label>
                <input asp-for="CurrentDepartment.Name" class="form-control" />
                <span asp-validation-for="CurrentDepartment.Name"></span>
            </p>
            <p class="form-group">
                <label asp-for="CurrentDepartment.HeadOfLabId" class="form-label"></label>
                <select asp-items="@Model.AvailableEmployees" asp-for="CurrentDepartment.HeadOfLabId" class="form-control">
                    <option value="@Guid.Empty">--Не задан--</option>
                </select>
                <span asp-validation-for="CurrentDepartment.HeadOfLabId"></span>
            </p>
            <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
            <a class="btn btn-light" href="/Establishment/Departments">Отмена</a>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}