@using AG.ASP.NET.ViewModels.Establishment
@model DepartmentModel

@{
    ViewData["Title"] = "Редактирование";
}
<h1 class="display-4">Редактирование подразделения</h1>
<h3 class="display-7">"@Model.DepartmentName"</h3>
<form name="department_parameters" method="post" action="save">
<table class="table table-bordered table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <th scope="col"><b>Параметр</b></th>
            <th scope="col"><b>Значение</b></th>
        </tr>
    </thead>
    <tbody>
        
        <tr scope="row">
            <td>Название подразделения</td>
            <td><input type="text" name="department_name" value="@Model.DepartmentName"/></td>
        </tr>
        <tr scope="row">
            <td>Руководитель</td>
            <td>
                <select name="head_of_lab">
                    <option>Не задан</option>
                        @foreach(var employee in Model.AvailableEmployees)
                        {
                            <option>@employee.FullName (@(employee.Function?.Name ?? "Должность не указана"))</option>
                        }
                </select>
            </td>
        </tr>
        <tr scope="row">
            <td>Статус подразделения</td>
            <td>Действующий</td>
        </tr>
        <input type="submit" value="Сохранить изменения" class="button button-light"/>
        
    </tbody>

</table>
</form>