@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Главная страница";
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header"><h3>Статистика</h3></div>
            <div class="card-body">
                <div class="row">
                    <div class="col"><span>Сейчас в отпуске: 0 человек</span></div>
                    <div class="col"><a class="btn btn-link" asp-action="OnVacationView">Смотреть</a></div>
                </div>
                <div class="row">
                    <div class="col"><span>Сейчас в отпуске: 0 человек</span></div>
                    <div class="col"><a class="btn btn-link" asp-action="OnBusinessTripView">Смотреть</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
