@model AG.Web.MVC.Models.EmployeeTimeInterval.RemoveEmployeeTimeIntervalVM

@{
    ViewData["Title"] = "Удаление интервала";
}

<h3>Подтверждение удаления</h3>
<p>Вы уверены, что хотите удалить временной интервал <b>@Model.IntervalName</b> с <b>@Model.Begin.ToShortDateString()</b> по <b>@Model.End.ToShortDateString()</b>?</p>
<form method="post" asp-action="Remove" asp-controller="EmployeeTimeInterval">
    <button type="submit" class="btn btn-outline-danger">Подтвердить</button>
    <a class="btn btn-light" asp-action="Index" asp-controller="EmployeeTimeInterval" asp-route-employeeId="@Model.EmployeeId">Отмена</a>
</form>