@using AG.Core.Policy

@{

}
@*if (User.IsInRole(DefaultRoles.ADMIN))*@
@if (true)
{
    <div class="card mb-3">
        <div class="card-header text-bg-danger"><h3 class="card-title">Администратор</h3></div>
        <div class="card-body">
            <ul>
                <li><a asp-area="Admin" asp-controller="Users" asp-action="Index">Пользователи</a></li>

            </ul>
        </div>
    </div>
}