@using AG.Core.Policy

@*@if (User.IsInRole(DefaultRoles.HR))*@
@if (true)
{
    <div class="card mb-3">
        <div class="card-header text-bg-warning"><h3 class="card-title">Спец. по кадрам</h3></div>
        <div class="card-body">
            <ul>
                <li><a asp-area="HR" asp-controller="Main" asp-action="Index">Главная</a></li>
                <li><a asp-area="HR" asp-controller="Establishment" asp-action="Index">Сведения об организации</a></li>
                <li><a asp-area="HR" asp-controller="Establishment" asp-action="Edit">Изменить сведения об организации</a></li>

                <li><a asp-area="HR" asp-controller="Department" asp-action="Index">Подразделения</a></li>
                <li><a asp-area="HR" asp-controller="Department" asp-action="Create">Новое подразделение</a></li>

                <li><a asp-area="HR" asp-controller="Employee" asp-action="AllEmployees">Все сотрудники</a></li>
                <li><a asp-area="HR" asp-controller="Employee" asp-action="ByDepartment">Все сотрудники по подразделениям</a></li>

                <li><a asp-area="HR" asp-controller="Establishment" asp-action="Schedules">Графики работы</a></li>
            </ul>
        </div>
    </div>
}